:root {
    --color-primario-background: #3B060B;
    --color-primario: #540810;
    --color-secundario: #530810;
    --color-terciario: #A1101F;
}

.titulo-blanco {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.titulo-primario {
    color: var(--color-primario-background);
    font-size: 30px;
    font-weight: bold;
}

.img-servicio {
    max-width: 100px;

}
.titulo-servicio {
    font-size: 20px;
}

.servicios {
    color: white;
    background-color: var(--color-primario-background);

}

.item-servicio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.item-servicio-titulo {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.footer {
    background-color: var(--color-primario-background);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.footer ul > li {
    list-style: none;
    text-align: center;
}
.footer ul > li > a{
    text-decoration: none;
    color:white;
}

.svg-white {
    fill: rgb(255, 255, 255);
}

@media (max-width: 576px) {
    .item-servicio-titulo {
        justify-content: center;
    }
}
